version: '2'
services:
  config-service:
    image: ${DOCKER_USER}/config-service:${TAG}
    restart: always
    ports:
      - "8888:8888"
  discovery:
    image: ${DOCKER_USER}/discovery-service:${TAG}
    restart: always
    ports:
      - "8761:8761"
  gateway:
    image: ${DOCKER_USER}/api-gateway:${TAG}
    restart: always
    ports:
      - "8081:8081"
  login:
    image: ${DOCKER_USER}/login-microservice:${TAG}
    restart: always
    ports:
      - "9005:9005"
# (mavogel): disabled cuz not tested in docker yet, but need to merge due to api update
#  account:
#    image: ${DOCKER_USER}/account-service:${TAG}
#    restart: always
#    ports:
#      - "6000:6000"
#    links:
#      - discovery
  product:
    image: ${DOCKER_USER}/product-microservice:${TAG}
    restart: always
    ports:
      - "7654:7654"
